.newTask {
  margin-top: -2rem;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}

.textarea {
  width: 37.875rem;
  height: 3.375rem;
  padding: 1rem;
  border-radius: 8px;

  color: var(--grey-100);
  background-color: var(--grey-500);
  border: 1px solid var(--grey-700);
  outline: none;

  font-size: 1rem;
  resize: none;

  transition: border 0.2s;
}

.textarea::placeholder {
  color: var(--grey-300);
}
.textarea:focus {
  border: 1px solid var(--dark-purple);
}
.submitTask {
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 8px;

  border: 0;
  background-color: var(--dark-blue);
  color: var(--grey-100);

  font-size: 0.875rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: background-color 0.2s;
}

.submitTask:hover {
  background-color: var(--blue);
  padding: 0.25rem 0.625rem;
}

.taskStatus {
  margin-top: 4rem;
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 0.875rem;
  font-weight: 600;
}

.createdTasks {
  color: var(--blue);
}

.completedTasks {
  color: var(--purple);
}

.createdTasks span, .completedTasks span {
  margin-left: 0.5rem;
  padding: 0.3125rem 0.625rem;

  color: var(--grey-100);
  font-size: 0.75rem;

  background-color: var(--grey-400);
  border-radius: 50px;
}