@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --grey-100: #f2f2f2;
  --grey-200: #d9d9d9;
  --grey-300: #808080;
  --grey-400: #333333;
  --grey-500: #262626;
  --grey-600: #1a1a1a;
  --grey-700: #0d0d0d;
  --purple: #8284FA;
  --dark-purple: #5E60CE;
  --blue: #4EA8DE;
  --dark-blue: #1E6F9F;
  --red: #E25858;

}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  color: var(--grey-100);
}

body {
  background-color: var(--grey-600);
}
